@model List<progect_DEPI.Models.Category>

<h1>All Categories</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Lessons</th>
            <th>Updated at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td>@category.LessonsCount</td>
                <td>@category.UpdateAt</td>
                <td>
                    <a asp-controller="Category" asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info">
                        Details
                    </a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id="@category.CategoryId">
                            Edit
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
