@model IEnumerable<User>
@{
    ViewBag.Title = "Instructors";
}

<h2>All Instructors</h2>

<form method="get" asp-action="Instructors">
    <div class="input-group mb-3">
        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="Search instructor..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instructor in Model)
        {
            <tr>
                <td><img src="@instructor.Picture" width="50" height="50" class="rounded-circle" /></td>
                <td>@instructor.FullName</td>
                <td>@instructor.Email</td>
                <td>@instructor.CreatedAt.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
